body{
    font-family: 'Open Sans', sans-serif;
    margin-top: 4%;
    padding-left: 5%;
}
#Mission{
    color: #fcac5d;
}
.explore-more-button{
    color: white;
    text-decoration: none;
    border-radius: 5px;
    padding: 10px 30px;
    background: linear-gradient(#3D4FF3 0%, #3543BC 100%);
}
.half-width{
    width:40%;
}
.half-width img{
    width: 60%;
    padding-left: 10%;
}
.top-side{
    display: flex;
}
.year-color{
    color: #fcac5d;
}
#h1 textpojision{
    text-align: center;
}
.textpojision{
    text-align: center;
}