body{
    font-family: 'Open Sans', sans-serif;
    margin-top: 4%;
    padding-left: 5%;
}
#Mission{
    color: #fcac5d;
}
.explore-more-button{
    color: white;
    text-decoration: none;
    border-radius: 5px;
    padding: 10px 30px;
    background: linear-gradient(#3D4FF3 0%, #3543BC 100%);
}
.half-width{
    width:40%;
    margin: 3%;
}
.half-width img{
    width: 60%;
    padding-left: 10%;
}
.top-side{
    display: flex;
}
.mid-side{
    text-align: center;
    margin-top: 5%;
}
#year{
    color: #fcac5d;
}

.textpojision{
    text-align: center;
}

.phone {
    float: left;
    width: 30%;
    margin-left: 1%;
    padding: 5px;
    border-radius: 25px;
    box-shadow: 10px 10px 40px grey;
  }