body{
    font-family: 'Open Sans', sans-serif;
    margin-top: 0%;
    padding-left: 6%;
}
#Mission{
    color: #fcac5d;
}
.explore-more-button{
    color: white;
    text-decoration: none;
    border-radius: 5px;
    padding: 10px 30px;
    background: linear-gradient(#3D4FF3 0%, #3543BC 100%);
}
.half-width{
    width:50%;
    
}
.half-width img{
    width: 70%;
    padding-left: 5%;
}
.flexible-container{
    display: flex;
    margin: 3%;
}
.top-side{
    background-image: url(images/Screenshot_1.png);
    background-repeat: no-repeat;
    padding-left: 2%;}
.mid-side{
    text-align: center;
    margin-top: 5%;
}
.down-side1{
    margin-top: 5%;
    background-image: url(images/shapes/shape-1.png);
    background-repeat:no-repeat;
    background-position-y: 40%;
    background-size: 10% 55%;
}
.down-side2{
    margin-top: 6%;
    background-image: url(images/shapes/shape-1.png);
    background-repeat:no-repeat;
    background-position-y: 280%;
    background-position-x: 92%;
    background-size: 25% 85%;
}

.container{
    padding-left: 35%;
}
#orang-color{
    color: #fcac5d;
}
#year{
    color: #fcac5d;
}

.textpojision{
    text-align: center;
}

.phone {
    float: left;
    width: 30%;
    margin-left: 1%;
    padding: 5px;
    border-radius: 25px;
    box-shadow: 10px 10px 40px grey;
  }
.apimage{
    float: left;
    width: 30%;
    padding: 5px;
    border-radius: 25px;
    background-image: url(images/shapes/shape-3.png);
    background-repeat:no-repeat;
    
}